body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-size: 20px;
  background: #1e1f20;
  color: #eee;
}

h1 {
  font-weight: 400;
}

button {
  padding: 8px 16px;
  background: crimson;
  color: white;
  border: none;
  font-size: inherit;
}